<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Koin Stack</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo|Open+Sans" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="<%= url("css/app.css")%>">
  <%# <link rel="stylesheet" href="app.css"> %>
</head>
<body>
  
  <% if session[:user_id] %>

    <!-- **** ONLY SHOW WHEN SIGNED IN **** -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/"> <img src="/images/S.png" class="brand-logo" id="logo" alt="" srcset=""> </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="large material-icons">menu</i></a>
          <div class="nav-wrapper hide-on-med-and-down">
            <form action="/search" method="post">
              <div class="input-field">
                <input type="search" name="search" id="search" placeholder="e.g. #bitcoin or @markets">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </div>
      <ul id="mobile-demo" class="sidenav center-align">
        <li><div class="user-view">
          <div id="sidenavLogo" class="background black center-align">
            <img src="/images/full_logo copy.png">
          </div>
        </div></li>
        <li><div class="nav-wrapper mobile-search">
          <form action="/search" method="post">
            <div class="input-field">
              <input type="search" name="search" id="search" placeholder="e.g. #bitcoin or @markets">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div></li>
        <li><a class="" href="/" /><span class="green-letter">H</span>ome</a></li>
        <li><a href="/profile/<%= User.find(session[:user_id]).profile.display_name %>" /><span class="green-letter">M</span>y <span class="green-letter">P</span>rofile</a></li>
        <li><a href="/settings" /><span class="green-letter">S</span>ettings</a></li>
        <li><a class="" href="/feed" /><span class="green-letter">F</span>eed</a></li>
        <li><a class="" href="/users" /><span class="green-letter">U</span>sers</a></li>
        <li><a class="" href="/sign-out" /><span class="green-letter">S</span>ign <span class="green-letter">O</span>ut</a></li>
      </ul>
    <!-- **** PAGE LAYOUT HERE **** -->
    <div class="row">
    
      <div class="col l3 hide-on-med-and-down">
        <div id="" class="container flow-text center-align">
          <ul id="big-screen-side-nav" class="sidenav sidenav-fixed">
            <li><div class="user-view">
              <div id="sidenavLogo" class="background black center-align">
                <img src="/images/full_logo copy.png">
              </div>
            </div></li>
            <li><a class="" href="/" /><span class="green-letter">H</span>ome</a></li>
            <li><a href="/profile/<%= User.find(session[:user_id]).profile.display_name %>" /><span class="green-letter">M</span>y <span class="green-letter">P</span>rofile</a></li>
            <li><a href="/settings" /><span class="green-letter">S</span>ettings</a></li>
            <li><a class="" href="/feed" /><span class="green-letter">F</span>eed</a></li>
            <li><a class="" href="/users" /><span class="green-letter">U</span>sers</a></li>
            <li><a class="" href="/sign-out" /><span class="green-letter">S</span>ign <span class="green-letter">O</span>ut</a></li>
          </ul>
        </div>
      </div>

      <div class="col s12 l9">
        <div class="container flow-text">
          <% flash.keys.each do |type| %>
            <div class="flash <%= type %>">
              <%= flash[type] %>
              <a class="close-button" href="#">x</a>
            </div>
          <% end %>

          <%= yield %>

          <div class="footer-copyright hide-on-large-only">
            <div class="col s12 center-align">
              <span class="green-letter">©</span> 2018 Copyright <span class="green-letter">K</span>oin <span class="green-letter">S</span>tack
            </div>
          </div>
        </div>
      </div>

    </div>



  <% else %>

    <!-- **** ONLY SHOW WHEN SIGNED OUT **** -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/"> <img src="/images/S.png" class="brand-logo" id="logo" alt="" srcset=""> </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="large material-icons">menu</i></a>
          <div class="nav-wrapper hide-on-med-and-down">
            <form action="/search" method="post">
              <div class="input-field">
                <input type="search" name="search" id="search" placeholder="e.g. #bitcoin or @markets">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </div>
      <ul id="mobile-demo" class="sidenav center-align">
        <li><div class="user-view">
          <div id="sidenavLogo" class="background black center-align">
            <img src="/images/full_logo copy.png">
          </div>
        </div></li>
        <li><div class="nav-wrapper mobile-search">
          <form action="/search" method="post">
            <div class="input-field">
              <input type="search" name="search" id="search" placeholder="e.g. #bitcoin or @markets">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div></li>
        <li><a class="" href="/" /><span class="green-letter">H</span>ome</a></li>
        <li><a class="" href="/feed" /><span class="green-letter">F</span>eed</a></li>
        <li><a class="" href="/users" /><span class="green-letter">U</span>sers</a></li>
        <li><a class="" href="/sign-in" /><span class="green-letter">S</span>ign <span class="green-letter">I</span>n</a></li>
        <li><a class="" href="/sign-up" /><span class="green-letter">S</span>ign <span class="green-letter">U</span>p</a></li>
      </ul>
    <!-- **** PAGE LAYOUT HERE **** -->
    <div class="row">
    
      <div class="col l3 hide-on-med-and-down">
        <div id="" class="container flow-text center-align">
          <ul id="big-screen-side-nav" class="sidenav sidenav-fixed">
            <li><div class="user-view">
              <div id="sidenavLogo" class="background black center-align">
                <img src="/images/full_logo copy.png">
              </div>
            </div></li>
            <li><a class="" href="/" /><span class="green-letter">H</span>ome</a></li>
            <li><a class="" href="/feed" /><span class="green-letter">F</span>eed</a></li>
            <li><a class="" href="/users" /><span class="green-letter">U</span>sers</a></li>
            <li><a class="" href="/sign-in" /><span class="green-letter">S</span>ign <span class="green-letter">I</span>n</a></li>
            <li><a class="" href="/sign-up" /><span class="green-letter">S</span>ign <span class="green-letter">U</span>p</a></li>
          </ul>
        </div>
      </div>

      <div class="col s12 l9">
        <div class="container flow-text">
          <% flash.keys.each do |type| %>
            <div class="flash <%= type %>">
              <%= flash[type] %>
              <a class="close-button" href="#">x</a>
            </div>
          <% end %>

          <%= yield %>

          <div class="footer-copyright hide-on-large-only">
            <div class="col s12 center-align">
              <span class="green-letter">©</span> 2018 Copyright <span class="green-letter">K</span>oin <span class="green-letter">S</span>tack
            </div>
          </div>
        </div>
      </div>

    </div>


  <% end %>


  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="<%= url("js/app.js")%>" type="text/javascript"></script>
  <%# <script src="app.js" type="text/javascript"></script> %>
</body>
</html>