<%# <% unless @user.profile == nil %> 
<% for post in @user.profile.posts.reverse
    # if @user.profile.posts.index(post) % 2 == 0
 %>

  <ul>
    <li> @<%= post.profile.display_name %> </li>
    <li> <%= post.title %> </li>
    <li> <%= post.content %> </li>
    <li> <%= post.created_at.localtime.strftime("posted by @#{@user.profile.display_name} at %I:%M:%p on %-m/%-d/%y") %> </li>
  </ul>
  <br>

<%# <% else %>

<%#  <ul style="display: flex; justify-content: flex-end;">
    <li> <%= post.profile.display_name </li> %>
   <%# <li> <%= post.title </li> %>
    <%# <li> <%= post.content </li>  %>
    <%# <li> <%= post.created_at.localtime.strftime("Posted by #{@user.username} at %I:%M:%p on %-m/%-d/%y") %> 
  <%# </ul> %> 


<% end
    # end 
    %>